<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>demo page</title>


    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <script type="text/javascript" th:src="@{/js/demo.js}"></script>


    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<h2>Style Heading H2</h2>

<p>Welcome to <span th:text="${appName}">Our App</span></p>

<p>
    This is text on which we want to apply <strong>very special</strong> styling.
</p>

<button type="button" th:onclick="showAlert()">Show Alert</button>

<button type="button" id="hide">Hide</button>
<button type="button" id="show">Show</button>

</body>
</html>

<script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("p").hide();
        });

        $("#show").click(function(){
            $("p").show();
        });
    });
</script>